section
  .vine
    <iframe src="https://vine.co/v/OtWiVlLLUKZ/embed/postcard" width="300" height="300" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>
  .blue-bg
  
  
