section.work
  .before
  .vine
    //- <iframe src="https://vine.co/v/OtWiVlLLUKZ/embed/postcard" width="300" height="300" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>
  .container
    a(href="#").img-1: .thumb-overlay Lorem Ipsum
    a(href="#").img-2: .thumb-overlay Lorem Ipsum
    a(href="#").img-3: .thumb-overlay Lorem Ipsum
    a(href="#").img-4: .thumb-overlay Lorem Ipsum
    
  
      
