
<section class="work">
  <div class="before"></div>
  <div class="vine"><iframe src="https://vine.co/v/OtWiVlLLUKZ/embed/postcard" width="300" height="300" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script></div>
  <div class="container"><a href="#" class="img-1">
      <div class="thumb-overlay">Lorem Ipsum</div></a><a href="#" class="img-2">
      <div class="thumb-overlay">Lorem Ipsum</div></a><a href="#" class="img-3">
      <div class="thumb-overlay">Lorem Ipsum</div></a><a href="#" class="img-4">
      <div class="thumb-overlay">Lorem Ipsum</div></a></div>
</section>