.contact-section
  .back-ground
    img(src="pictures/neon-bg.png")
  .letter
    img(src="pictures/letter.png")
    .letter-content
      .dear-dl Dear Dmitry...
      .linewrapper
        .line
          .text My name is...&nbsp;
          .text.textFillsWidth
            .textContent
              input(type="text", name='name')
              .underline
          .text , ucan mail
      .linewrapper_2
        .line
          .text me back at&nbsp;
          .text.textFillsWidth
            .textContent
              input(type="text", name='name')
              .underline
          .text . I would like to
      .mailWrapper
        textarea.inp
        .underline
        .underline_3
        button.btn.btn-success(type='submit') Send
  .fore-ground
    img(src="pictures/neon-fore.png")      
          
