header: .logo
        .name Lysenko
        .burger
          span
        nav
          a(href="#TECH") TECH
          a(href="#WORK") WORK
          a(href="#CONTACT") CONTACT
          
.main-image
  .kicker
    nav
      a(href="#TECH") TECH
      a(href="#WORK") WORK
      a(href="#CONTACT") CONTACT
  .header
    .header-1 DESIGNER
    .header-2 DEVELOPER
    .header-3 THINKER  
      
