
<header>
  <div class="logo">
    <div class="name">Lysenko</div>
    <div class="burger"><span></span></div>
    <nav><a href="#">ABOUT</a><a href="#">WORK</a><a href="#">CONTACT</a></nav>
  </div>
</header>
<div class="main-image">
  <div class="kicker">
    <nav><a href="#">WORK</a><a href="#">ABOUT</a><a href="#">CONTACT</a></nav>
  </div>
  <div class="header">
    <div class="header-1">DESIGNER</div>
    <div class="header-2">DEVELOPER</div>
    <div class="header-3">THINKER         </div>
  </div>
</div>