header: .logo
        .name Lysenko
        nav
          a(href="#") ABOUT
          a(href="#") WORK
          a(href="#") CONTACT
.main-image
  .header
    .header-1 DESIGNER
    .header-2 DEVELOPER
    .header-3 THINKER         
