header: .logo
        .name Lysenko
        .burger
          span
        nav
          a(href="#") ABOUT
          a(href="#") WORK
          a(href="#") CONTACT
          
.main-image
  .blue-box
  .kicker
    nav
      a(href="#") WORK
      a(href="#") ABOUT
      a(href="#") CONTACT
  .header
    .header-1 DESIGNER
    .header-2 DEVELOPER
    .header-3 THINKER  
      
