.tech-section
  .tech-bg
  .langs
    a(href="#").box HTML5
    a(href="#").box CSS3
    a(href="#").box SASS
    a(href="#").box JADE
    a(href="#").box JAVASCRIPT
    a(href="#").box JQUERY
    a(href="#").box JEKYLL
    a(href="#").box BOOTSTRAP
    a(href="#").box GIT
    a(href="#").box GITHUB
    a(href="#").box PHOTOSHOP
    a(href="#").box ILLUSTRATOR
  .tech-use TECHNOLOGIES THAT I AM USING
  .watch 
    .cont Close
    .cont Watch
