.tech-section#TECH
  .tech-bg
  .langs
    a(href="https://developer.mozilla.org/en-US/docs/Web/HTML", target="_blank").box HTML5
    a(href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started").box CSS3
    a(href="http://sass-lang.com/", target="_blank").box SASS
    a(href="http://jade-lang.com/", target="_blank").box JADE
    a(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript").box JAVASCRIPT
    a(href="https://jquery.com/", target="_blank").box JQUERY
    a(href="https://jekyllrb.com/", target="_blank").box JEKYLL
    a(href="http://getbootstrap.com/", target="_blank").box BOOTSTRAP
    a(href="https://git-scm.com/", target="_blank").box GIT
    a(href="https://github.com/", target="_blank").box GITHUB
    a(href="https://www.adobe.com/products/photoshop.html?promoid=KLXLS", target="_blank").box PHOTOSHOP
    a(href="https://www.adobe.com/products/illustrator.html?promoid=KLXLT", target="_blank").box ILLUSTRATOR
  .tech-use TECHNOLOGIES THAT I AM USING
  .watch 
    .cont Close
    .cont Watch
