@import bourbon


/*.textFillsWidth
  width: 100%*/





.contact-section
  position: relative
  max-width: 1200px
  height: 548px
  margin: 0px auto
  padding-top: 1px
  background: url('../pictures/women.jpg') center center
  background:
    repeat: no-repeat
    size: cover
  box-shadow: 0px 0px 20px black

  @media (max-width: 635px)
    +display(flex)
    +justify-content(center)
    +align-items(center)

  .letter
    display: table
    position: relative
    left: 70px
    top: 150px
    +transition(400ms, linear)

    @media (max-width: 635px)
      display: none

    form.letter-content
      display: block !important
      width: 339px !important
      position: absolute !important
      top: 20px !important
      left: 10px !important
      color: black !important
      font:
        size: 22px !important

      .dear-dl
        font-family:'Kaushan Script', cursive !important

      .linewrapper
        display: table !important
        position: relative !important
        left: 10px !important

        .line
          display: table-row !important

          .text
            display: table-cell !important
            font-family:'Kaushan Script', cursive !important
            font-size: 17px !important


          .textFillsWidth
            width: 47% !important
            display: table-cell !important

            .textContent
              position: relative !important
              margin-right: 2px !important

              input[type='text']
                border: none !important
                background: none !important
                overflow: hidden !important
                width: 100% !important
                position: absolute !important
                z-index: 1 !important
                border: 0 !important
                margin: 0 !important
                padding: 0 !important
                color: rgb(95, 181, 252) !important
                &:focus,
                &:active
                  outline: none !important

              .underline
                display: inline-block !important
                width: 100% !important
                position: relative !important
                top: 1px !important
                height: 1px !important
                background-color: #a4a4a4 !important

      .linewrapper_2
        @extend .linewrapper

        .textFillsWidth
          width: 47% !important
          display: table-cell

      .mailWrapper
        position: relative
        left: 10px
        top: -5px
        textarea
          resize: none
          overflow: hidden
          width: 100%
          font-family:'Kaushan Script', cursive
          font-size: 17px
          position: absolute
          color: rgb(95, 181, 252)
          border: none
          background: none
          &:focus,
          &:active
            outline: none

        .underline
          display: inline-block
          width: 100%
          position: relative
          top: 1px
          height: 1px
          background-color: #a4a4a4

        .underline_2
          @extend .underline
          top: -13px !important

        .underline_3
          @extend .underline
          top: -6px

        button
          font-family: 'Kaushan Script', cursive
          position: relative
          left: 42%
          z-index: 3

  .back-ground
    width: 90%
    position: absolute
    left: -89px
    top: 26px


    @media (max-width: 635px)
      display: none

  .hello
    display: table
    position: absolute
    left: 41%
    top: 50px
    z-index: 2

    @media (max-width: 1060px)
      img
        display: none
      .hello-text
        top: 100px !important
        color: white

    .hello-text
      display: table
      width: 186px
      max-width: 186px
      position: relative
      top: -247px
      left: 108px
      line-height: 33px
      font:
        family: 'Oswald', sans-serif
        size: 31px

      @media (max-width: 940px)
        display: none

  .fore-ground
    position: relative
    display: table
    z-index: 2
    left: 43px
    top: -17px

    @media (max-width: 635px)
      display: none


  .dear-responsive
    width: 100%
    display: none
    top: 20px
    position: absolute
    color: white
    font:
      size: 30px
      family: 'Kaushan Script', cursive
    @media (max-width: 635px)
      +display(flex)
      +justify-content(center)



  form
    +display(flex)
    width: 70%
    color: white
    display: none
    font:
      family: 'Kaushan Script', cursive

    @media (max-width: 635px)
      display: block

    label
      font:
        size: 20px
      color: rgb(95, 181, 252)

    input[type='text']
      width: 100%
      margin: 0px !important
    textarea
      resize:none !important
