doctype html
html(lang='en')
  head
    title Designer/Developer/Thinker
    meta(charset='utf-8')
    link(rel="stylesheet", type="text/css", href="{{site.baseurl}}/css/app.css")
      
  body
    {{ content }}
    
    script(src="scripts/functions.js")
