<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{site.data.setting.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/app.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap/css/bootstrap.min.css"><link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Passion+One:400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>{{ content }}
    <script src="scripts/jquery-1.10.2.js"></script>
    <script src="scripts/functions.js"></script>
  </body>
</html>